# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

db/
db_laws/
db_judgments/

# C extensions
*.so
*.pdf
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/


# Streamlit
.streamlit/secrets.toml
db/d3c4bd34-d0ea-4787-8a6f-df427708bd67/data_level0.bin
db/chroma.sqlite3
db/d3c4bd34-d0ea-4787-8a6f-df427708bd67/header.bin
db/d3c4bd34-d0ea-4787-8a6f-df427708bd67/length.bin
db/d3c4bd34-d0ea-4787-8a6f-df427708bd67/link_lists.bin
